@import "../../../ui/style/vars";

.content a, .content button, .content p {
  font-size: 1.6rem; line-height: 2.4rem; font-family: var(--font-family-Roboto); color: var(--blueStone); text-decoration: none;
}