:root {
  --font-family-Racing: "Racing Sans One", Garamond, "Times New Roman", serif;
  --font-family-Roboto: "Roboto", Helvetica, Arial, sans-serif;

  --body-background:#F1F1F1;
  
  --black:#000;
  --white:#FFF;
  --orange:#F39B00;
  --grey:#656565;
  --lightGrey:#a1a1a1;
  --lighterGrey:#C1C5C8;
  --blueStone:#303A45;
  --fb-background:#4460ae;
  --tw-background:#00aced;
  --gp-background:#ff4a36;

  --article-boxShadow:0 2px 8px 0 rgba(0, 0, 0, .1);
  --img-optimize: {
    position:absolute;
    top:50%; left:50%; transform: translate(-50%, -50%);
  
    width:100%; height:100%;
    object-fit:cover;    
  }
}

@custom-media --xs (max-width: 374px);
@custom-media --sm (max-width: 767px);
@custom-media --md (max-width: 990px);
@custom-media --lg (max-width: 1198px);
