@import "../style/vars";

#header{
  display:flex;
  font-family: var(--font-family-Racing);
  background:var(--blueStone);
}

#header h1{
  margin:0;
  font-weight:normal;
}
#header .logo{
  font-size: 1.6rem; line-height:4.4rem;
}

#header .logo a{
  color:var(--white); text-decoration: none;
}

#header ul{
  display:flex;
  margin:0;
}

#header li{
  font-size: 1.6rem; line-height:4.4rem;
  background:var(--blueStone);
}

#header li a{
  color:var(--white); text-decoration: none;
}