@import "../style/vars";

.overlayer{
	display:inline-block;
	position:fixed; z-index:10;
	top:0; left:0;
	width:100vw; height:100vh;
	background:rgb(0,0,0); opacity:0;
	transform: translate(-100%,0);
	transition: opacity .3s linear;
}

.overlayer area{
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
}

.menu_closing .overlayer{
	opacity:0;
	transform: translate(0,0);
}

body.menu_open,
body.modal_open{
	position:fixed;
	width:100vw;
	overflow: hidden;
}

.menu_open .overlayer,
.modal_open .overlayer{
	opacity:.3;
	transform: translate(0,0);
}

@media screen and (min-width: 736px) { /* tablet */

	.menu_open .overlayer,
	.modal_open .overlayer{
		opacity:.5;
		transform: translate(0,0);
	}

}	

@media screen and (min-width: 950px) { /* Desktop */
	body.menu_open,
	body.modal_open{
		position:relative;
		overflow: hidden;
	}
}